body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-y: hidden; 
  overflow-x: hidden;
  
}
.b1{
  width: 18em;
  height: 10em;
  top: 0;
  margin-left: 35%;
  margin-top: -5%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.b1:active::after{
  visibility: hidden;
}
.contract{
  background-image: url(/immagini/load.png);
  align-items: center;
  margin-left: 50%;
  right: 0;
}
.connect{
  background-image: url(/immagini/connect.png);
}
.title{
  bottom: -2;
  width: 40%;
  height: 80%;
  color: red;
}
div.rectangle{
  height: 45em;
  width: 90em;
  margin: auto;
  margin-top: 0;
  position: relative;
  border: 2px solid #000;
}
.square {
  position: absolute;
}
.square_1 {
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
  justify-content: center;
  align-items: center;
  background-image: url(/immagini/sfondo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  background-color: transparent;
}

.square_2 {
  top: 0;
  right: 0;
  background-color: rgb(5, 44, 218);
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 3px solid black;
}

.square_3 {
  bottom: 0;
  left: 0;
  width: 74.85%;
  height:25%;
  background-color: rgb(5, 44, 218);
  border-top: 2px solid black;
}

.square_1_1 {
  width:75%;
  height:50%;
  margin: 6em;
  top: 8em;
  left: 2em;
  position: absolute; 
  border-top: 0px
}
div.working_chicken{
  width: 30%;
  height: 80%;
}
.chicken_left{
  margin-top: 3%;
  left: 2em;
}
.chicken_image{
  height: 90%;
  width: 85%;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;
  background-color: transparent;
}

.chicken_right{
  margin-top: 3%;
  right: 2em;
  font-family: monaco,Consolas,Lucida Console,monospace; 
}
.reclame{
  width: 45%;
  height: 24%;
  margin-top: 12%;
  margin-left: 27%;
  background-image: url(/immagini/Redeem.png);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.square_1_2 {
  width:100%;
  height: 25%;
  top: 0;
  left: 0;
  position: absolute;
}
.cuore{
  left: 2%;
  top: 5%;
  width: 9.3%;
  height: 80%;
  background-image: url(/immagini/cuore.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.scritta_cuore{
  position: relative;
  margin-left: 12.5%;
  top: 33%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 150%;
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
  border: none;
}
.token{
  background-image: url(/immagini/COIN.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent;
  border: none;
  width: 8%;
  height: 80%;
  right: 15%;
  top: 5%;
}
.scritta_token{
  position: relative;
  margin-left: 87.5%;
  top: 12.5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 200%;
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
  border: none;
}
div.inventory_square{
  flex: 1; 
  border: 3px solid #000;
  height: 32%;
  width:97%;
  border-radius: 10%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: lightblue;
  
}
div.inventory_square:nth-child(1){
  top : 1;
  margin-top:0.2em;
  margin-bottom: 0.2em;
}
div.inventory_square:nth-child(2){
  top: 33.75%;
}
div.inventory_square:nth-child(3){
  top: 67%;
}
.inventary_function{
  width: 20%;
  height: 25%;
  border: none;
}
button.sell{
  bottom: 0.5em;
  right: 0.5em;
  background-image: url(/immagini/trash-alt-svgrepo-com.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
}
button.switch{
  top: 0.5em;
  right: 0.5em;
  background-image: url(/immagini/transfer-svgrepo-com\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
}
button.rename{
  top: 0.5em;
  left: 0.5em;
  width: 10%;
  height: 15%;
  font-weight: bold;
  background-image: url(/immagini/price-tag-svgrepo-com.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
}
.name_square{
  margin-left: 15%;
  margin-top: 2.5%;
  width: 50%;
  height: 10%;
  opacity: 0.8;
  background-color: lightgray;
}
span.name_scritta{
  color: black;
  font-weight: bold;
  margin-left: 5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.inventary_image{
  width: 70%;
  height: 72%;
  bottom: 0;
  left: 0;
}
.slot_2{
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent;
  border: none;
  transform: scaleX(-1);
}
.slot_0{
  left: 0.3em;
  background-image: none;
}
.slot_1{
  right: 0.3em;
  background-image: none;
  transform: scaleX(-1);
}
.slot_3{
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent;
  border: none;
  transform: scaleX(-1);
}
.slot_4{
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent;
  border: none;
  transform: scaleX(-1);
}
.shop_square{
    width: 19%;
    height: 88%;
    display: inline-block;
    margin-right: 8px;
    top: 4%;
    border: 3px solid black;
    border-radius: 6%;
    box-shadow: 5px 5px 2.5px black;
}
.shop_square:nth-child(1){
  left : 3%;
  background-color: lightgray;
  cursor: pointer;
}
.shop_square:nth-child(2){
  left : 23.5%;
  background-color: burlywood;
  cursor: pointer;
}
.shop_square:nth-child(3){
  left : 44%;
  background-color: rgb(150, 96, 150);
  cursor: pointer;
}
.shop_square:nth-child(4){
  left:69%;
  top: 5%;
  width: 28%;
  height: 85%;
  border: none;
  box-shadow: none;
}
.rarity{
  background-color: lightgray;
}
.letter{
  display: inline;
  text-align:center;
  font-size: 340%;
  font-weight: bold;
  color: rgb(191, 255, 0);
  text-decoration: underline;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
}
.divide{
  width: 90%;
  height: 50%;
}
div.top{
  top: 0;
  left: 5%;
  text-align: start;
}
div.bottom{
  bottom: 0;
  right: 8%;
  text-align: end;
}
.Chicken_write{
  top: 0;
}
.Shop_write{
  bottom: 0;
}
.shop .S{
  margin-top: 20%;
}
.Gallina_shop{
  width: 80%;
  height: 80%;
  margin: 10%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: transparent;
  border: none;
}

.comune{
  background-image: url(/immagini/G1.png);
  cursor: pointer;
}

.rara{
  background-image: url(/immagini/G2.png);
  cursor: pointer;
}

.epica{
  background-image: url(/immagini/G3.png);
  cursor: pointer;
}
div.price{
  width: 100%;
  height: 20%;
  bottom: 0;
  opacity: 0.95;
  background-color: royalblue;
  
}
.price_scritta{
  color: gold;
  margin-left: 40%;
  font-size: 120%;
  font-weight: 999;
  text-decoration: underline;
}